<%= simple_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, :autofocus => true, required: true, :input_html => {:style=> 'width: 600px'} %>
  <%= f.input :authors, required: true, :input_html => {:style=> 'width: 600px'} %>
  <%= f.input :code, required: true, :input_html => {:style=> 'width: 600px; height: 600px;'} %>
  <%= f.button :submit %>

<% end %>
